*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    transition: all .5s linear;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    background: white;
    z-index: 1000;
}

.navlogo img{
    width: 80px;
    margin-left: 50px;
}

header a {
    color: black;
    font-size: 1rem;
    margin: 0 .8rem;
    text-decoration: none;
}

header a:active {
    color:  rgb(0, 174, 255);
}

header #meun-bar{
    color: black;
    font-size: 3rem;
    border: .1rem solid black;
    cursor: pointer;
    border-radius: .5rem;
    padding: .5rem 1.2rem;
    display: none;

}

.hero {
    display: flex;
    gap: 25rem;
}

.contcontainer1 .contact h1 {
    margin-top: 10rem;
}

.contcontainer1 .contact p {
    margin-bottom: 35px;
}

.contcontainer1 .info span {
    color: rgb(0, 174, 255);
    display: inline;
    grid-template-columns: auto;
    margin-bottom: 3rem;
    font-size: 25px;
}

.info .email h3 {
    margin-bottom: 20px;
    color: rgb(74, 73, 73);
}

.info .email p {
    color: rgb(127, 125, 125);
    margin-bottom: 30px;
}

.info .office h3 {
    margin-bottom: 20px;
    color: rgb(74, 73, 73);
}

.info .office p {
    color: rgb(127, 125, 125);
    margin-bottom: 30px;
}

.info .phone h3 {
    margin-bottom: 20px;
    color: rgb(74, 73, 73);
}

.info .phone p {
    color: rgb(127, 125, 125);
    margin-bottom: 30px;
}

.phone .number a {
    color: rgb(0, 174, 255);
    text-decoration: none;
    font-size: 20px;
    margin: 0;
}

.contcontainer2 {
    background-color: aliceblue;
    width: fit-content;
    height: 100%;
    padding: 30px 10px;
    margin-top: 10rem;

}

.name input {
    width: 35rem;
    height: 3rem;
    border-radius: 10px;
    margin-bottom: 35px;
}

.mail input {
    width: 35rem;
    height: 3rem;
    border-radius: 10px;
    margin-bottom: 35px;
}

.message textarea {
    width: 35rem;
    height: 3rem;
    border-radius: 30px;
    margin-bottom: 35px;
}

.privacy {
    display: flex;
}

.privacy input {
    width: 30px;
    height: 20px;
}

.contcontainer2 button {
    width: 100%;
    height: 3rem;
    color: white;
    background-color: rgb(0, 174, 255);
    border: none;
    border-radius: 7px;
}


.container3{
    background-color: rgb(0, 174, 255);
    padding: 5rem 1rem;
    color: #fff;
    display: flex;
}
.dli h2{
    font-size: 20px;
    margin-bottom: 1rem;   
}

.dli p{
    border: none;
    width: 45%;
    height: 60%;
    line-height: 30px;
    margin-right: 20rem;
}

.helpful h3{
    margin-left: -35rem;
    font-size: 20px;
    margin-bottom: 30px;
}

.link1 a{
    display: grid;
    margin-top: 30px;
    color: #fff;
    margin-left: -35rem;
    text-decoration: none;
    
}

.link2 a{
    display: grid;
    margin-top: 30px;
    color: #fff;
    margin-left: -10rem;
    text-decoration: none;
}

.link3 a{
    display: grid;
    margin-top: 30px;
    color: #fff;
    margin-left: 10rem;
    text-decoration: none;
}

.connect{
    background-color: rgb(0, 174, 255);
    color: #fff;
    padding-left: 1rem;
    padding-bottom: 2rem;
}
.connect p{
    margin-bottom: 15px;
}
.connect span{
    font-size: 30px;
    margin-right: 5px;

}
.line{
    border: solid white;
    border-width: 1px;
    border-radius: 50px;
}
.copyright{
    background-color: rgb(0, 174, 255);
    text-align: center;
    color: #fff;
    padding-top:20px;
    padding-bottom: 5rem;
}
.welcome{
    display: flex;
    gap: 25px;
    cursor: pointer;
    padding-right: 20px;
    padding-bottom: 30px;
    position: fixed;
    bottom: 0;
    right: 0;

}
.welcome button{
    width: 200px;
    height: 50px;
    background-color:white;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.welcome .msgcontainer{
    border: solid;
    border-radius: 100rem;
    height: 50px;
    width: 50px;
    background-color: rgb(0, 174, 255);
    display: flex;
   align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
}

.welcome .msgcontainer a{
    color: #fff;
    font-size: 20px;
    transition: transform 0.5s;
}

.welcome .msgcontainer a:hover{
    transform: scale(1.3);
}

@media(max-width:480px){
    header{
        width: 100%;
    }
        
    header #meun-bar{ 
        display: initial;
        font-size:1.5rem;
        border: 1px solid black;
        cursor: pointer;
        border-radius: .2rem;
        padding: .3rem .5rem;
        
    }
    .navlogo img{
        width: 80px;
        margin-left: -30px;
    }

    header .Nav-Link{
        width: 100%;
        position: absolute;
        top: 100%;
        left:0;
        right:0;
        background:  rgba(7, 7, 7, 0.2);
        border-top: .1rem solid rgba(39, 10, 201, 0.2);
        padding: 1rem 2rem ;
        clip-path: polygon(0 0 , 100% 0 , 100% 0 , 0 0);
    }

    header .Nav-Link.active{
        clip-path: polygon(0 0 , 100% 0 , 100% 100% , 0 100%);
    }
    header .Nav-Link a {
        width: 80%;
        display: block;
        padding: 1.5rem;
        margin: 1.5rem;
        border-radius: .5rem;
        background: black;
        color: #fff;
    }
     
    .hero {
        display: grid;
        gap: -5rem;
        margin-left: 20px;
    }
    
    .contcontainer1 .contact h1 {
        margin-top: 7rem;
        font-size: 25px;

    }
    
    .contcontainer1 .contact p {
        margin-bottom: 15px;
        font-size: 15px;
    }
    
    .contcontainer1 .info span {
        color: rgb(0, 174, 255);
        margin-bottom: 3rem;
        font-size: 25px;
    }
    
    .info .email h3 {
        margin-bottom: 10px;
        color: rgb(74, 73, 73);
        font-size: 20px;
    }
    
    .info .email p {
        color: rgb(127, 125, 125);
        margin-bottom: 20px;
        font-size: 15px;
    }
    
    .info .office h3 {
        margin-bottom: 10px;
        color: rgb(74, 73, 73);
        font-size: 20px;
    }
    
    .info .office p {
        color: rgb(127, 125, 125);
        margin-bottom: 20px;
        font-size: 15px;
    }
    
    .info .phone h3 {
        margin-bottom: 15px;
        color: rgb(74, 73, 73);
        font-size: 20px;
    }
    
    .info .phone p {
        color: rgb(127, 125, 125);
        margin-bottom: 20px;
        font-size: 15px;
    }
    
    .phone .number a {
        color: rgb(0, 174, 255);
        text-decoration: none;
        font-size: 15px;
        margin-bottom: 10px;
    }
    
    .contcontainer2 {
        background-color: aliceblue;
        width: 100%;
        height: fit-content;
        /* padding: 5px 3px; */
        margin-top: -25rem;
    
    }
    
    .name input {
        width: 100%;
        height: 3rem;
        border-radius: 10px;
        margin-bottom: 35px;
    }
    
    .mail input {
        width: 100%;
        height: 3rem;
        border-radius: 10px;
        margin-bottom: 35px;
    }
    
    .message textarea {
        width: 100%;
        height: 1rem;
        border-radius: 30px;
        margin-bottom: 20px;
    }
    
    .privacy {
        display: flex;
        font-size: 10px;
    }
    
    .privacy input {
        width: 20px;
        height: 10px;
    }
    
    .contcontainer2 button {
        width: 100%;
        height: 3rem;
        color: white;
        background-color: rgb(0, 174, 255);
        border: none;
        border-radius: 5px;
    }
    .container3{
        background-color: rgb(0, 174, 255);
        padding: 2rem 3rem;
        color: #fff;
        display: block;
        width: 100%;
        
    }

    .helpful h3{
        margin-left: 0rem;
        font-size: 20px;
        margin-bottom: 0px;
    }
    .copyright{
        background-color: rgb(0, 174, 255);
        text-align: center;
        color: #ffffff;
        padding-top:20px;
        padding-bottom: 5rem;
        width: 100%;
    }
    .link1 a{
        display: grid;
        margin-top: 1rem;
        color: #fff;
        margin-left: 0rem;
        text-decoration: none;
        
    }
    
    .link2 a{
        display: grid;
        margin-top: 1rem;
        color: #fff;
        margin-left: 0rem;
        text-decoration: none;
    }
    
    .link3 a{
        display: grid;
        margin-top: 1rem;
        color: #fff;
        margin-left: 0rem;
        text-decoration: none;
    }

    .dli h2{
        font-size: 20px;
        margin-bottom: 1rem; 
        margin-top: 1rem;  
    }
    
    .dli p{
 
        width: 80%;
        margin-bottom: 20px;
    
    }

    .connect{
        width: 100%;
        padding-left: 3rem;
       
    }
    .line{
        border: solid white;
        border-width: 1px;
        border-radius: 50px;
        width: 100%;
    }

} 
    