*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    transition: all .5s linear;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    background: white;
    z-index: 1000;
}

.navlogo img{
    width: 80px;
    margin-left: 50px;
}

header a {
    color: black;
    font-size: 1rem;
    margin: 0 .8rem;
    text-decoration: none;
}

header a:active {
    color:  rgb(0, 174, 255);
}

header #meun-bar{
    color: black;
    font-size: 3rem;
    border: .1rem solid black;
    cursor: pointer;
    border-radius: .5rem;
    padding: .5rem 1.2rem;
    display: none;

}

/* @media(max-width:480px){

    header{
        width: 480px;
    }
        
    header #meun-bar{ 
        display: initial;
        font-size:1.5rem;
        border: 1px solid black;
        cursor: pointer;
        border-radius: .2rem;
        padding: .3rem .5rem;
 
        
    }
    .navlogo img{
        width: 80px;
        margin-left: -30px;
    }

    header .Nav-Link{
        position: absolute;
        top: 100%;
        left:0;
        right:0;
        background:  rgba(7, 7, 7, 0.2);
        border-top: .1rem solid rgba(39, 10, 201, 0.2);
        padding: 1rem 2rem ;
        clip-path: polygon(0 0 , 100% 0 , 100% 0 , 0 0);
    }

    header .Nav-Link.active{
        clip-path: polygon(0 0 , 100% 0 , 100% 100% , 0 100%);

    }
    header .Nav-Link a {
        display: block;
        padding: 1.5rem;
        margin: 1.5rem;
        border-radius: .5rem;
        background: black;
        color: #fff;
    }
} */

.banner img{
    width: 100%;
    height: 45rem;
    background-color: aliceblue;
}

/* @media(max-width:480px){
    .banner img{
        width: 480px;
        height: 22rem;
        margin-top: 70px;
    }
} */

.ticket{
    background-color: aliceblue;
    padding-top: 2rem;
}

.ticket h1{
    margin-top: 2rem;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: rgb(43, 42, 42);
}

.ticket p{
    text-align: center;
    margin-top: 1rem;
    color: rgb(127, 125, 125);
    margin-bottom: -5rem;
}

.gallery-wrap{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}
#backBtn, #nextBtn{
    width: 50px;
    cursor: pointer;
    margin: 40px;
    opacity: 1;
    transition: opacity 0.5s ease;
}
#backBtn:hover, #nextBtn:hover{
    opacity: 0.5;
}
.gallery{
    width: 1200px;
    display: flex;
    overflow-x: scroll;
}
.gallery .wrap{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}
.gallery div .container1{
    width: 100%;
    filter: grayscale(0);
    transition: transform 0.5s;
}
.gallery::-webkit-scrollbar{
    display: none;
}

.container1{
    background-color: aliceblue;
    padding-top:0rem;
    padding-bottom: 5rem;
    margin-top: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.banner2{
    border: none;
    background-color: #fff;
    width: 25rem;
    height: fit-content;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.banner2 img{
    width: 24.7rem;
    height: 15rem;
    margin-top: 0rem;
}

.banner2 h3{
    margin: 1rem 1rem;
    font-size: 20px;
}

.banner2 span{
    margin: 5rem 1rem;
    color: rgb(127, 125, 125);
}

.banner2 a{
    background-color: rgb(0, 174, 255);
    color: white;
    padding: 10px 2rem;
    margin-left: 1rem;
    margin-top: 100%;
    cursor: pointer;
    border-radius: 8px;
    text-decoration: none;
}

.banner2 h2{
    margin-left: 15rem;
    margin-top: -1rem;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
}

.container2{
    text-align: center;
    margin-top: 3rem;
    background-color: rgba(216, 212, 212, 0.942);
    padding: 3rem;
}


.container2 h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.container2 p{
    font-size: 25px;
    color: rgb(49, 48, 48);
    margin-bottom: 3rem;
}

.container2 input{
    padding: 20px;
    width: 40rem;
    border-radius: 10px;
}

.container2 button{
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    background-color: rgb(0, 174, 255);
}

.container3{
    background-color: rgb(0, 174, 255);
    padding: 5rem 1rem;
    color: #fff;
    display: flex;
}
.dli h2{
    font-size: 20px;
    margin-bottom: 1rem;   
}

.dli p{
    border: none;
    width: 45%;
    height: 60%;
    line-height: 30px;
    margin-right: 20rem;
}

.helpful h3{
    margin-left: -35rem;
    font-size: 20px;
    margin-bottom: 30px;
}

.link1 a{
    display: grid;
    margin-top: 30px;
    color: #fff;
    margin-left: -35rem;
    text-decoration: none;
    
}

.link2 a{
    display: grid;
    margin-top: 30px;
    color: #fff;
    margin-left: -10rem;
    text-decoration: none;
}

.link3 a{
    display: grid;
    margin-top: 30px;
    color: #fff;
    margin-left: 10rem;
    text-decoration: none;
}

.connect{
    background-color: rgb(0, 174, 255);
    color: #fff;
    padding-left: 1rem;
    padding-bottom: 2rem;
}
.connect p{
    margin-bottom: 15px;
}
.connect span{
    font-size: 30px;
    margin-right: 5px;

}
.line{
    border: solid white;
    border-width: 1px;
    border-radius: 50px;
}
.copyright{
    background-color: rgb(0, 174, 255);
    text-align: center;
    color: #fff;
    padding-top:20px;
    padding-bottom: 5rem;
}
.welcome{
    display: flex;
    gap: 25px;
    cursor: pointer;
    padding-right: 20px;
    padding-bottom: 30px;
    position: fixed;
    bottom: 0;
    right: 0;

}
.welcome button{
    width: 200px;
    height: 50px;
    background-color:white;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.welcome .msgcontainer{
    border: solid;
    border-radius: 100rem;
    height: 50px;
    width: 50px;
    background-color: rgb(0, 174, 255);
    display: flex;
   align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
}

.welcome .msgcontainer a{
    color: #fff;
    font-size: 20px;
    transition: transform 0.5s;
}

.welcome .msgcontainer a:hover{
    transform: scale(1.3);
}

@media(max-width:480px){
    header{
        width: 100%;
        /* background-color: aqua; */
    }
        
    header #meun-bar{ 
        display: initial;
        font-size:1.5rem;
        border: 1px solid black;
        cursor: pointer;
        border-radius: .2rem;
        padding: .3rem .5rem;
        
    }
    .navlogo img{
        width: 80px;
        margin-left: -30px;
    }

    header .Nav-Link{
        width: 100%;
        position: absolute;
        top: 100%;
        left:0;
        right:0;
        background:  rgba(7, 7, 7, 0.2);
        border-top: .1rem solid rgba(39, 10, 201, 0.2);
        padding: 1rem 2rem ;
        clip-path: polygon(0 0 , 100% 0 , 100% 0 , 0 0);
    }

    header .Nav-Link.active{
        clip-path: polygon(0 0 , 100% 0 , 100% 100% , 0 100%);
    }
    header .Nav-Link a {
        width: 80%;
        display: block;
        padding: 1.5rem;
        margin: 1.5rem;
        border-radius: .5rem;
        background: black;
        color: #fff;
    }

    .banner img{
        width: 100%;
        height: 22rem;
        margin-top: 70px;
    }

    .ticket{
        width: 100%;
      }
      
    .ticket h1{
        text-align:center;
        width: 80%;
        font-size: 20px;
        padding-bottom: 30px;
    }
    .ticket p{
        display: none;
    }

    #backBtn, #nextBtn{
        width: 30px;
        margin: 20px;
        display: none;
    }
    .gallery-wrap{
        width: 100%;
        background-color: aliceblue;
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin: 0% auto; */
        /* margin: 0 20px; */
        padding-left: 20px;
        padding-right: 20px;
    }

    .gallery{
        width: 100%;
        display: flex;
        gap: 10px;
    }
    .container1 .banner2{
        width: 60%;
        /* display: grid; */
    }
    .gallery div .container1{
        width: 100%;
    }
    
    .banner2{
        border: none;
        background-color: #fff;
        width: 80%;
        height: fit-content;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    .banner2 img{
        width: 100%;
        height: 15rem;
        margin-top: 0rem;
    }
    

    .banner2 h2{
        margin-left: 10rem;
        font-size: 15px;
    }



    .container1{
        background-color: aliceblue;
        padding-top:0rem;
        padding-bottom: 5rem;
        margin-top: -1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    .banner2{
        border: none;
        background-color: #fff;
        width: 25rem;
        height: fit-content;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        
    }
    
  
    
    .banner2 h3{
        margin: 1rem 1rem;
        font-size: 15px;
    }
    
    .banner2 span{
        margin: 2rem 1rem;
        color: rgb(127, 125, 125);
        font-size: 12px;
    }
    
    .banner2 a{
        background-color: rgb(0, 174, 255);
        color: white;
        padding: 6px 1rem;
        margin-left: 1rem;
        margin-top: 100%;
        cursor: pointer;
        border-radius: 8px;
        text-decoration: none;
        font-size: 12px;
    }
    
 
    

    .container2{
        text-align: center;
        margin-top: 3rem;
        background-color: rgba(216, 212, 212, 0.942);
        padding: 3rem;
        width: 100%;
    }
    
    
    .container2 h1{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    
    .container2 p{
        font-size: 0.75rem;
        color: rgb(49, 48, 48);
        margin-bottom: 3rem;
    }
    
    .container2 input{
        padding: 20px;
        width: 20rem;        
        border-radius: 10px;
        text-align: center;
    }
    
    .container2 button{
        padding: 15px 30px;
        border-radius: 10px;
        color: white;
        background-color: rgb(0, 174, 255);
        margin-top: 10px;
        font-size: 18px;
    }

    .container3{
        background-color: rgb(0, 174, 255);
        padding: 2rem 3rem;
        color: #fff;
        display: block;
        width: 100%;

        
    }

    .helpful h3{
        margin-left: 0rem;
        font-size: 20px;
        margin-bottom: 0px;
    }
    .copyright{
        background-color: rgb(0, 174, 255);
        text-align: center;
        color: #ffffff;
        padding-top:20px;
        padding-bottom: 5rem;
        width: 100%;
    }
    .link1 a{
        display: grid;
        margin-top: 1rem;
        color: #fff;
        margin-left: 0rem;
        text-decoration: none;
        
    }
    
    .link2 a{
        display: grid;
        margin-top: 1rem;
        color: #fff;
        margin-left: 0rem;
        text-decoration: none;
    }
    
    .link3 a{
        display: grid;
        margin-top: 1rem;
        color: #fff;
        margin-left: 0rem;
        text-decoration: none;
    }

    .dli h2{
        font-size: 20px;
        margin-bottom: 1rem; 
        margin-top: 1rem;  
    }
    
    .dli p{
 
        width: 80%;
        margin-bottom: 20px;
    
    }

    .connect{
        width: 100%;
        padding-left: 3rem;
       
    }
    .line{
        border: solid white;
        border-width: 1px;
        border-radius: 50px;
        width: 100%;
    }

}