*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    transition: all .5s linear;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    background: white;
    z-index: 1000;
}

.navlogo img{
    width: 80px;
    margin-left: 50px;
}

header a {
    color: black;
    font-size: 1rem;
    margin: 0 .8rem;
    text-decoration: none;
}

header a:active {
    color:  rgb(0, 174, 255);
}

header #meun-bar{
    color: black;
    font-size: 3rem;
    border: .1rem solid black;
    cursor: pointer;
    border-radius: .5rem;
    padding: .5rem 1.2rem;
    display: none;
}

.banner img{
    width: 100%;
    height: 45rem;
    background-color: aliceblue;
}

.hero{
    display: flex;
    padding-left: 1.5rem;
    padding-top: 2.5rem;
}
.container1 h1{
    font-size: 2.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 1rem;
}
.container1 img{
    width:19.5rem;
    height: 20rem;
    border-radius: 5px;

}
.container2{
    text-align: center;
    justify-content: right;
    margin-top: -24rem;
    margin-left:20rem;
 
}
.container2 h1{
    font-size: 2.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 2.5rem;
    padding-left: 10rem;
}
.body h5{
    font-size: 15px;
    margin-bottom: 2px;
    padding-left: -1rem;
}
.body .firstP{
    font-size: 13px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
    color: rgb(132, 130, 130);
    padding-left: 8px;
}
.body .secondP{
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 5px;
    color: rgb(132, 130, 130);
    padding-left: 4.5rem;
}
.body a{
    margin-left: 60rem;
    text-decoration: none;
    border: solid;
    border-radius: 5px;
    color: rgb(132, 130, 130);
    padding: 10px 20px;
    border-width: 1px;
}
.body a:hover{
    background-color: rgb(110, 109, 109);
    color: white;
}
.body .platinum h5{
    margin-top: 100px;
    padding-left: 15px;
    margin-bottom: -1rem;
}
.platinum .firstP{
    color: rgb(132, 130, 130);
    margin-top: 20px;
    margin-left: -1px;
}
.platinum .secondP{
    margin-left: 10px;
}
.whenwhere{
    margin-top: 2rem;
    padding-left: 1.5rem;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.DTL{
    display: flex;
    gap: 80px;
    margin-top: 2rem;
}
.DTL span{
    border: none;
    padding: 15px 15px;
    border-radius: 50%;
    background:  rgb(0, 174, 255);
    font-size: 20px;
    color: white;
}
.DTL h5{
    margin-left: 60px;
    font-size: 15px;
    margin-top: -2rem;
}
.DTL p{
    margin-left: 60px;
    font-size: 15px;
}
.datetime .eko{
    margin-top: -1rem;
}
.about{
    margin-top: 7rem;
    padding-left: 1.5rem;
}
.about h3{
    margin-bottom: 10px;
}
.about p{
    color: rgb(132, 130, 130);
    border: none;
    margin-right: 40rem;
}
.tag{
    padding-left: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.container3{
    background-color: rgb(0, 174, 255);
    padding: 5rem 1rem;
    color: #fff;
    display: flex;
}
.dli h2{
    font-size: 20px;
    margin-bottom: 1rem;   
}

.dli p{
    border: none;
    width: 45%;
    height: 60%;
    line-height: 30px;
    margin-right: 20rem;
}

.helpful h3{
    margin-left: -35rem;
    font-size: 20px;
    margin-bottom: 30px;
}

.link1 a{
    display: grid;
    margin-top: 30px;
    color: #fff;
    margin-left: -35rem;
    text-decoration: none;
    
}

.link2 a{
    display: grid;
    margin-top: 30px;
    color: #fff;
    margin-left: -10rem;
    text-decoration: none;
}

.link3 a{
    display: grid;
    margin-top: 30px;
    color: #fff;
    margin-left: 10rem;
    text-decoration: none;
}

.connect{
    background-color: rgb(0, 174, 255);
    color: #fff;
    padding-left: 1rem;
    padding-bottom: 2rem;
}
.connect p{
    margin-bottom: 15px;
}
.connect span{
    font-size: 30px;
    margin-right: 5px;

}
.line{
    border: solid white;
    border-width: 1px;
    border-radius: 50px;
}
.copyright{
    background-color: rgb(0, 174, 255);
    text-align: center;
    color: #fff;
    padding-top:20px;
    padding-bottom: 5rem;
}
.welcome{
    display: flex;
    gap: 25px;
    cursor: pointer;
    padding-right: 20px;
    padding-bottom: 30px;
    position: fixed;
    bottom: 0;
    right: 0;

}
.welcome button{
    width: 200px;
    height: 50px;
    background-color:white;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.welcome .msgcontainer{
    border: solid;
    border-radius: 100rem;
    height: 50px;
    width: 50px;
    background-color: rgb(0, 174, 255);
    display: flex;
   align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
}

.welcome .msgcontainer a{
    color: #fff;
    font-size: 20px;
    transition: transform 0.5s;
}

.welcome .msgcontainer a:hover{
    transform: scale(1.3);
}

@media(max-width:480px){
    header{
        max-width: 480px;
    }
        
    header #meun-bar{ 
        display: initial;
        font-size:1.5rem;
        border: 1px solid black;
        cursor: pointer;
        border-radius: .2rem;
        padding: .3rem .5rem;
 
        
    }
    .navlogo img{
        width: 80px;
        margin-left: -30px;
    }

    header .Nav-Link{
        position: absolute;
        top: 100%;
        left:0;
        right:0;
        background:  rgba(7, 7, 7, 0.2);
        border-top: .1rem solid rgba(39, 10, 201, 0.2);
        padding: 1rem 2rem ;
        clip-path: polygon(0 0 , 100% 0 , 100% 0 , 0 0);
    }

    header .Nav-Link.active{
        clip-path: polygon(0 0 , 100% 0 , 100% 100% , 0 100%);
    }
    header .Nav-Link a {
        display: block;
        padding: 1.5rem;
        margin: 1.5rem;
        border-radius: .5rem;
        background: black;
        color: #fff;
    }

    .banner img{
        width: 480px;
        height: 22rem;
        margin-top: 70px;
    }

    .hero{
        display:contents;
        width: 480px;
    }
    .container1 h1{
        font-size: 1.5rem;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-bottom: 1rem;
    }
    .container1 img{
        width:13rem;
        height: 15rem;
        border-radius: 5px;
    
    }
    .container2{
        text-align: center;
        justify-content: left;
        margin-top: -13rem;
        margin-left: 10rem;
     
    }
    .container2 h1{
        font-size: 1.5rem;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-bottom: 1rem;
        padding-left: 4rem;
    }
    .body h5{
        font-size: 10px;
        margin-bottom: 1px;
    }
    .body .firstP{
        font-size: 13px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 8px;
        color: rgb(132, 130, 130);
        padding-left: 8px;
    }
    .body .secondP{
        font-size: 15px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 20px;
        color: rgb(132, 130, 130);
        padding-left: 4.5rem;
    }
    .body a{
        margin-left: 0rem;
        text-decoration: none;
        border: solid;
        border-radius: 5px;
        color: rgb(132, 130, 130);
        padding: 5px 10px;
        border-width: 1px;
    }
    .body a:hover{
        background-color: rgb(110, 109, 109);
        color: white;
    }
    .whenwhere{
        margin-top: 1rem;
        padding-left: 1.5rem;
        font-size: 15px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .DTL{
        display: flex;
        gap: 10px;
        margin-top: 1.5rem;
    }
    .DTL span{
        border: none;
        padding: 10px 10px;
        border-radius: 50%;
        background:  rgb(0, 174, 255);
        font-size: 15px;
        color: white;
    }
    .DTL h5{
        margin-left: 35px;
        font-size: 10px;
        margin-top: -2rem;
    }
    .DTL p{
        margin-left: 35px;
        font-size: 10px;    
    }

    .about{
        margin-top: 3rem;
        padding-left: 1.5rem;
    }
    .about h3{
        margin-bottom: 10px;
        font-size: 15px;
    }
    .about p{
        color: rgb(132, 130, 130);
        border: none;
        display: inline;
        font-size: 10px;
    }
    .tag{
        padding-left: 1.5rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    .container3{
        background-color: rgb(0, 174, 255);
        padding: 2rem 3rem;
        color: #fff;
        display: block;
        width: 480px;

        
    }

    .helpful h3{
        margin-left: 0rem;
        font-size: 20px;
        margin-bottom: 0px;
    }
    
    .link1 a{
        display: grid;
        margin-top: 1rem;
        color: #fff;
        margin-left: 0rem;
        text-decoration: none;
        
    }
    
    .link2 a{
        display: grid;
        margin-top: 1rem;
        color: #fff;
        margin-left: 0rem;
        text-decoration: none;
    }
    
    .link3 a{
        display: grid;
        margin-top: 1rem;
        color: #fff;
        margin-left: 0rem;
        text-decoration: none;
    }

    .dli h2{
        font-size: 20px;
        margin-bottom: 1rem; 
        margin-top: 1rem;  
    }
    
    .dli p{
 
        width: 400px;
        margin-bottom: 20px;
    
    }

    .connect{
        width: 480px;
        padding-left: 3rem;
       
    }
    .copyright{
        width: 480px;
    }
    
}
